@media (max-width: 1000px) {
       /*NAV*/
    span.silabas-da-marca > p {
        font-size: 15px;
    }

    span.links-da-pagina {
        gap: 8px;
        margin: 0px 10px 0px 10px;
    }

    span.links-das-redes-sociais {
        gap: 10px;
    }

    span.links-das-redes-sociais > a {
        font-size: 15px;
    } 

    /*HEADER*/

    div.div-do-header {
        gap: 0;
        align-items: center;
    }

    article > h1 {
        margin-top: 0;
    }

    div.div-do-header {
        flex-direction: column-reverse;
    }

    section.imagem-do-header {
        max-width: 300px;
    }

      /*MAIN*/

    div.sobre {
        flex-direction: column;
        align-items: center;
    }

    section.imagem-da-camera-2 img {
        max-width: 250px;
    }

    div.outras-cameras {
        flex-direction: column;
    }
    
    div.outras-cameras1 {
        flex-direction: column;
    }

}

@media (max-width: 670px) {

    section.fotos-da-canon img.imagem-canon {
        max-width: 200px;
    }
    
}