@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-0: #585369;
    --cor-1: #9474EC;
    --cor-2: #C5B8E9;
    --cor-3: #413369;
    --cor-4: #998FB5;
}

body {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

  /*NAV*/

nav {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

span.silabas-da-marca > p {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

span.links-da-pagina {
    display: flex;
    gap: 15px;
}

span.links-da-pagina > a {
    text-decoration: none;
    color: black;
    transition: 0.2s color;
}

span.links-da-pagina > a:hover {
    color: var(--cor-3);
    text-decoration: underline;
}

span.links-das-redes-sociais {
    display: flex;
    gap: 20px;
}

span.links-das-redes-sociais > a {
    color: black;
    font-size: 25px;
    transition: 0.2s color;
}

span.links-das-redes-sociais > a:hover {
    color: var(--cor-3);
}

 /*HEADER*/

header {
    background-color: var(--cor-2);
    border-radius: 0px 0px 0px 30%;
}

div.div-do-header {
    margin-top: 55px;
    padding: 30px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

article {
    text-align: center;
    max-width: 450px;
}

article > h1 {
    font-size: 2em;
    margin: 120px auto 20px auto;
}

.h1-do-header {
    color: var(--cor-3);
}

article a button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

section.imagem-do-header{
    max-width: 450px;
}

section.imagem-do-header img {
    width: 100%;
}

 /*MAIN*/

main {
    text-align: center;
    padding: 30px;
}

div.sobre {
    margin-top: 60px;
    justify-content: space-around;
    display: flex;
}

section.imagem-da-camera-2 {
    border-radius: 50%;
    background-color: var(--cor-4);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

section.imagem-da-camera-2 img {
    max-width: 450px;
}

article.sobre-a-camera > h2 {
    margin-bottom: 20px;
}

div.video-da-canonr6 {
    background-color: var(--cor-1);
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 58%;
}

div.video-da-canonr6 > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section.fotos-da-canon {
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 80px;
    font-weight: 600;
}

section.fotos-da-canon h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

section.fotos-da-canon img.imagem-canon {
    max-width: 300px;
}

     /* outras cameras */

div.outras-cameras {
    border: 1px red solid;
    width: calc(100% + 60px);
    margin-left: -30px;
    background-color: var(--cor-2);
    height: 300px;
    margin-top: 30px;
}

div.outras-cameras1 {
    border: 1px red solid;
    width: 100%;
    width: calc(100% + 60px);
    margin-left: -30px;
    background-color: white;
    height: 300px;
    margin-top: 30px;
}

h2.saber-mais {
    margin: 30px 0px;
    font-size: 30px;
}

div.butao {
    text-align: center;
}

button.link-do-site-melhordoteche {
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: var(--cor-2);
}

/*FOOTER*/

footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--cor-0);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor-3);
}